body {
    max-width: 1494px;
    margin: 0 auto;
}
.header {
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
}

.nav {
    margin-top: 80px;
}

input {
    width: 325px;
    height: 47px;
    border-radius: 10px;
    background-color: #4CDF75;
    margin-right: 65px;
    border: none;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding-left: 27px;
    color: white;
}

.info {
    display: flex;
    justify-content: space-between;
}

.tabl {
    background-color: #dd4456;
    width: 390px;
    height: 210px;
    margin-top: 80px;
}

p {
    color: #fff;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 2px;
    padding: 17px 0 3px 39px;
}